.welcome-page {
  width: 100%;
  height: 1080px;
  background: url('./images/pinkcloud.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;

  overflow: hidden;
}
.welcome_title {
  width: 990px;
  position: relative;
  top: 260px;
  left: 465px;
  font-size: 80px;
  color: white;
  font-family: 'Rubik';
  opacity: 1;
  text-align: center;
  clear: both;
}

.visitor_dashboard {
  width: 800px;
  color: rgb(165, 214, 224);
  position: relative;
  top: 250px;
  left: 690px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 33px;
  opacity: 1;
  clear: both;
}

.main_nav {
  opacity: 1;
  width: 1664px;
  height: 89px;
  position: absolute;
  left: 128px;
  top: 840px;
  display: block;
}

.other_nav {
  opacity: 1;
  width: 1664px;
  height: 89px;
  position: absolute;
  left: 128px;
  top: 345px;
  display: block;
}

.nav_link {
  background-color: transparent;
  color: white;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
  list-style: none;
}

.link {
  transition-duration: 0.4s;
  border-color: transparent;
  border-radius: 5px;
  color: white;
}

.link:hover {
  background-color: rgb(176, 191, 214);
}

#resume {
  overflow: auto;
  opacity: 1;
  width: 1920px;
  height: 1080px;
  position: absolute;
  background-color: rgb(242, 234, 221);
}
#resume-title-box {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 1920px;
  height: 428px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/frame.jpg);
}
#resume-title {
  color: rgb(0, 0, 0);
  opacity: 1;
  width: 1009px;
  height: 208px;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 60px;
  letter-spacing: 0;
  line-height: undefined;
}

.collapsibleBT {
  background-color: rgb(37, 39, 146);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: 'Roboto Mono';
}

.active,
.collapsibleBT:hover {
  background-color: rgb(57, 6, 138);
}

#resume-collapse {
  clear: both;
  position: relative;
}

.collapsible-content {
  font-family: 'Roboto Mono';
  font-size: 17px;
  padding: 26px;
  margin: 12px;
  text-align: left;
}

#gallery {
  overflow: auto;
  opacity: 1;
  width: 1920px;
  height: 1080px;
  position: absolute;
  background-color: rgb(242, 234, 221);
}
#gallery-title-box {
  opacity: 1;
  width: 1920px;
  height: 428px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: inherit;
  background-size: cover;
  background-image: url(./images/gallery.png);
}
#gallery-title {
  color: rgba(201, 195, 110, 0.76);
  opacity: 1;
  width: 1009px;
  height: 208px;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 60px;
  letter-spacing: 0;
  line-height: undefined;
}

.introBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 60px;
}

.intro {
  font-family: 'Roboto Mono';
  font-size: 24px;
  font-weight: bold;
  display: flex;
  color: rgb(95, 128, 6);
}

.photoCredit {
  font-size: 13px;
  color: rgb(184, 180, 180);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 0%;
  position: relative;
}

.photo {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  align-self: center;
}

#contact {
  overflow: auto;
  opacity: 1;
  width: 1920px;
  height: 1080px;
  position: absolute;
  background-color: rgb(130, 150, 182);
}

input {
  font-size: 18px;
  font-family:  'Roboto Mono';
}
textarea {
  font-size: 18px;
  font-family:  'Roboto Mono';
}

#contact-title-box {
  opacity: 1;
  width: 1920px;
  height: 428px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: round;
  background-size: cover;
  background-image: url(./images/no108.png);
}

#contact-title {
  color: rgb(216, 208, 91);
  opacity: 1;
  width: 1009px;
  height: 208px;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 60px;
  letter-spacing: 0;
  line-height: undefined;
}

.contact-info {
  display: block;
  padding: 40px;
  margin: 20px;
}

.contact-line-item {
  font-family: 'Roboto Mono';
  font-size: 19px;
  font-weight: bold;
  color: bisque;
  display: block;
}

.contact-header {
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  color: rgb(216, 208, 91);
  display: inline;
  padding-right: 10px;
}

.App-logo {
  display: inline;
  width: 30px;
  height: 30px;
}

form {
  font-family: 'Roboto Mono';
  font-size: 18px;
  font-weight: bold;
  color: bisque;
}

#post {
  overflow: auto;
  opacity: 1;
  width: 1920px;
  height: 1080px;
  position: absolute;
  background-color: rgba(23, 43, 77, 0.952);
}

#post-title-box {
  opacity: 1;
  width: 1920px;
  height: 428px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  background-repeat: repeat;
  background-size: auto;
  background-image: url(./images/no91.png);
}

#post-title {
  color: rgb(255, 255, 255);
  opacity: 1;
  width: 1009px;
  height: 208px;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 60px;
  letter-spacing: 0;
  line-height: undefined;
}

#post_cat {
  padding: 15px;
  margin: 20px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono';
}

#article {
  padding: 30px;
  margin-top: 70px;
  margin-left: 420px;
  margin-right: 420px;
  color: white;
  font-family: 'Roboto Mono';
  font-size: 20px;
  line-height: 2;
}

#article_title {
  text-align: center;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 44px;
}

a {
  color: white;
}

pre {
  color: yellow;
}

.disclaimer {
  font-weight: bolder;
  font-style: italic;
}

#submitBtn {
  border-radius: 7px;
  font-family: 'Rubik', sans-serif;
  background-color: rgb(216, 208, 91);
  color: rgb(116, 31, 228);
}
